# Task A
Data preparation
1. Identification & removal of null values;
2. Identification and removal of invalid transaction amount values;
3. Identification of removal of invalid age values;
4. Display the 5 top locations where the maximum number of transactions occurred

In [1]:
# REMOVE LATER ON, AFTER RE-TEST AT HOME
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importing Pandas to read our data, displaying into a dataframe (df) with 100k+ rows and 9 columns

import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/bank_transactions.csv')
print(df)

        TransactionID CustomerID CustomerDOB CustGender   CustLocation  \
0                  T1   C5841053     10/1/94          F     JAMSHEDPUR
1                  T2   C2142763      4/4/57          M        JHAJJAR
2                  T3   C4417068    26/11/96          F         MUMBAI
3                  T4   C5342380     14/9/73          F         MUMBAI
4                  T5   C9031234     24/3/88          F    NAVI MUMBAI
...               ...        ...         ...        ...            ...
1048562      T1048563   C8020229      8/4/90          M      NEW DELHI
1048563      T1048564   C6459278     20/2/92          M         NASHIK
1048564      T1048565   C6412354     18/5/89          M      HYDERABAD
1048565      T1048566   C6420483     30/8/78          M  VISAKHAPATNAM
1048566      T1048567   C8337524      5/3/84          M           PUNE

         CustAccountBalance TransactionDate  TransactionTime  \
0                  17819.05          2/8/16           143207
1                   2270.69          2/8/16           141858
2                  17874.44          2/8/16           142712
3                 866503.21          2/8/16           142714
4                   6714.43          2/8/16           181156
...                     ...             ...              ...
1048562             7635.19         18/9/16           184824
1048563            27311.42         18/9/16           183734
1048564           221757.06         18/9/16           183313
1048565            10117.87         18/9/16           184706
1048566            75734.42         18/9/16           181222

         TransactionAmount (INR)
0                           25.0
1                        27999.0
2                          459.0
3                         2060.0
4                         1762.5
...                          ...
1048562                    799.0
1048563                    460.0
1048564                    770.0
1048565                   1000.0
1048566                   1166.0

[1048567 rows x 9 columns]

# Task A.1

In [3]:
# Identifying how many rows per column have null values using isnull method
# (Null values may be due to customer not providing certain details, or system error?)
# (Either way, not ideal for later analysis stage)

df.isnull().sum()

TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64

In [4]:
# Creating a new df called df_clean, using dropna method to remove rows containing null values

df_clean = df.dropna()
print(df_clean)

        TransactionID CustomerID CustomerDOB CustGender   CustLocation  \
0                  T1   C5841053     10/1/94          F     JAMSHEDPUR
1                  T2   C2142763      4/4/57          M        JHAJJAR
2                  T3   C4417068    26/11/96          F         MUMBAI
3                  T4   C5342380     14/9/73          F         MUMBAI
4                  T5   C9031234     24/3/88          F    NAVI MUMBAI
...               ...        ...         ...        ...            ...
1048562      T1048563   C8020229      8/4/90          M      NEW DELHI
1048563      T1048564   C6459278     20/2/92          M         NASHIK
1048564      T1048565   C6412354     18/5/89          M      HYDERABAD
1048565      T1048566   C6420483     30/8/78          M  VISAKHAPATNAM
1048566      T1048567   C8337524      5/3/84          M           PUNE

         CustAccountBalance TransactionDate  TransactionTime  \
0                  17819.05          2/8/16           143207
1                   2270.69          2/8/16           141858
2                  17874.44          2/8/16           142712
3                 866503.21          2/8/16           142714
4                   6714.43          2/8/16           181156
...                     ...             ...              ...
1048562             7635.19         18/9/16           184824
1048563            27311.42         18/9/16           183734
1048564           221757.06         18/9/16           183313
1048565            10117.87         18/9/16           184706
1048566            75734.42         18/9/16           181222

         TransactionAmount (INR)
0                           25.0
1                        27999.0
2                          459.0
3                         2060.0
4                         1762.5
...                          ...
1048562                    799.0
1048563                    460.0
1048564                    770.0
1048565                   1000.0
1048566                   1166.0

[1041614 rows x 9 columns]

In [5]:
# Checking new dataframe to see whether rows containing null values has been cleaned
# (True meaning cell contains null value, False meaning it doesn't,
# however, we can't see cells with null values as they are between the first 5 and last 5 rows of dataset)

df_clean.isnull()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1048562,False,False,False,False,False,False,False,False,False
1048563,False,False,False,False,False,False,False,False,False
1048564,False,False,False,False,False,False,False,False,False
1048565,False,False,False,False,False,False,False,False,False
1048566,False,False,False,False,False,False,False,False,False

In [6]:
# So, we check as a summarised overview of the full dataset by adding the .sum() function

df_clean.isnull().sum()

TransactionID              0
CustomerID                 0
CustomerDOB                0
CustGender                 0
CustLocation               0
CustAccountBalance         0
TransactionDate            0
TransactionTime            0
TransactionAmount (INR)    0
dtype: int64

# Task A.2

In [7]:
# Identifying invalid transaction amounts, which we are classifying as
# any transaction between 0.00 and 0.01
df_clean[df_clean['TransactionAmount (INR)'] < 0.01]

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
384,T385,C6117158,25/9/89,M,BANGALORE,128.84,21/10/16,74817,0.0
2498,T2499,C9074213,10/6/88,M,BANGALORE,15834.56,21/10/16,154219,0.0
2623,T2624,C7930692,16/7/93,M,HYDERABAD,5795.30,21/10/16,152742,0.0
2672,T2673,C4397046,13/1/97,M,MUMBAI,185401.34,21/10/16,30017,0.0
4083,T4084,C4227711,3/12/91,M,NEW DELHI,11846.77,22/9/16,70059,0.0
...,...,...,...,...,...,...,...,...,...
1029145,T1029146,C5524842,29/6/63,F,GURGAON,173469.49,13/9/16,33929,0.0
1032164,T1032165,C9026149,15/9/90,M,DERABASSI,8.79,13/9/16,110728,0.0
1036358,T1036359,C5936956,1/1/1800,M,GURGAON,48.90,18/9/16,115328,0.0
1038286,T1038287,C7633429,1/1/1800,M,N T PUNE,181600.42,18/9/16,53145,0.0
1038415,T1038416,C3924885,2/8/87,M,GUNTUR,34.54,18/9/16,71820,0.0

In [8]:
# Removal of invalid transaction amounts
df_clean_trans = df_clean[df_clean['TransactionAmount (INR)'] > 0.01 ]
print(df_clean_trans)

        TransactionID CustomerID CustomerDOB CustGender   CustLocation  \
0                  T1   C5841053     10/1/94          F     JAMSHEDPUR
1                  T2   C2142763      4/4/57          M        JHAJJAR
2                  T3   C4417068    26/11/96          F         MUMBAI
3                  T4   C5342380     14/9/73          F         MUMBAI
4                  T5   C9031234     24/3/88          F    NAVI MUMBAI
...               ...        ...         ...        ...            ...
1048562      T1048563   C8020229      8/4/90          M      NEW DELHI
1048563      T1048564   C6459278     20/2/92          M         NASHIK
1048564      T1048565   C6412354     18/5/89          M      HYDERABAD
1048565      T1048566   C6420483     30/8/78          M  VISAKHAPATNAM
1048566      T1048567   C8337524      5/3/84          M           PUNE

         CustAccountBalance TransactionDate  TransactionTime  \
0                  17819.05          2/8/16           143207
1                   2270.69          2/8/16           141858
2                  17874.44          2/8/16           142712
3                 866503.21          2/8/16           142714
4                   6714.43          2/8/16           181156
...                     ...             ...              ...
1048562             7635.19         18/9/16           184824
1048563            27311.42         18/9/16           183734
1048564           221757.06         18/9/16           183313
1048565            10117.87         18/9/16           184706
1048566            75734.42         18/9/16           181222

         TransactionAmount (INR)
0                           25.0
1                        27999.0
2                          459.0
3                         2060.0
4                         1762.5
...                          ...
1048562                    799.0
1048563                    460.0
1048564                    770.0
1048565                   1000.0
1048566                   1166.0

[1040770 rows x 9 columns]

# Task A.3

In [13]:
# Identification of invalid age values
df_ageIdentification = df_clean_trans[df_clean_trans['CustomerDOB'] == '1/1/1800']
print(df_ageIdentification)

        TransactionID CustomerID CustomerDOB CustGender  \
16                T17   C1376215    1/1/1800          M
22                T23   C7018081    1/1/1800          M
28                T29   C7935438    1/1/1800          M
35                T36   C1211387    1/1/1800          M
151              T152   C3334638    1/1/1800          M
...               ...        ...         ...        ...
1048443      T1048444   C7261226    1/1/1800          M
1048452      T1048453   C3813481    1/1/1800          M
1048531      T1048532   C6937679    1/1/1800          M
1048533      T1048534   C7431884    1/1/1800          M
1048540      T1048541   C1528025    1/1/1800          M

                     CustLocation  CustAccountBalance TransactionDate  \
16                         MUMBAI            77495.15          1/8/16
22       WAYS PANCHKUVA AHMEDABAD              143.07          3/8/16
28                         MOHALI           969436.12          3/8/16
35                      AHMEDABAD            11791.25          3/8/16
151                          PUNE              700.00          9/8/16
...                           ...                 ...             ...
1048443                    BHILAI             1393.33         18/9/16
1048452                 NEW DELHI           984605.24         18/9/16
1048531                 NEW DELHI            50698.90         18/9/16
1048533            MANDIR DHANBAD            53771.64         18/9/16
1048540                    MUMBAI           230894.59         18/9/16

         TransactionTime  TransactionAmount (INR)
16                124727                  1423.11
22                104718                   110.00
28                183634                    36.90
35                125915                  1075.00
151                24912                  1500.00
...                  ...                      ...
1048443           102427                   200.00
1048452            84644                   219.00
1048531           184319                   598.86
1048533           184049                   520.00
1048540           182331                   290.00

[56180 rows x 9 columns]

In [14]:
# Removal of invalid age values

df_ageRemoval = df_clean_trans[df_clean_trans['CustomerDOB'] != '1/1/1800']
len(df_ageRemoval)

984590

# Task A.4

In [15]:
# Getting the transaction count per location
# Use head() to return the first 5 results

df_ageRemoval['CustLocation'].value_counts().head()

CustLocation
MUMBAI       97604
BANGALORE    77688
NEW DELHI    76302
GURGAON      70446
DELHI        67263
Name: count, dtype: int64